In [2]:
import pandas as pd

In [3]:
messy_data = pd.read_csv('messy_exam_data.csv')
messy_data.head()

       Person         English         Geography     Mathematics
0  PERSON-001  82/100 (82.0%)    93/130 (71.5%)  77/120 (64.2%)
1  PERSON-002  96/100 (96.0%)    85/130 (65.4%)  93/120 (77.5%)
2  PERSON-003  95/100 (95.0%)    83/130 (63.8%)  88/120 (73.3%)
3  PERSON-004  36/100 (36.0%)  130/130 (100.0%)  88/120 (73.3%)
4  PERSON-005  59/100 (59.0%)    81/130 (62.3%)  81/120 (67.5%)