In [2]:
# Import packages required for notebook
import pandas as pd

In [3]:
# Read messy_exam_data.csv file and store as messy_data
messy_data = pd.read_csv('messy_exam_data.csv')

       Person         English         Geography     Mathematics
0  PERSON-001  82/100 (82.0%)    93/130 (71.5%)  77/120 (64.2%)
1  PERSON-002  96/100 (96.0%)    85/130 (65.4%)  93/120 (77.5%)
2  PERSON-003  95/100 (95.0%)    83/130 (63.8%)  88/120 (73.3%)
3  PERSON-004  36/100 (36.0%)  130/130 (100.0%)  88/120 (73.3%)
4  PERSON-005  59/100 (59.0%)    81/130 (62.3%)  81/120 (67.5%)

In [16]:
# Melt all columns which are not 'Person' in to rows and name variable (Subject) and values (Exam Results) columns
interim_messy_data = pd.melt(messy_data,id_vars = ['Person'],var_name='Subject', value_name='Exam Results')

interim_messy_data.head()

       Person  Subject    Exam Results
0  PERSON-001  English  82/100 (82.0%)
1  PERSON-002  English  96/100 (96.0%)
2  PERSON-003  English  95/100 (95.0%)
3  PERSON-004  English  36/100 (36.0%)
4  PERSON-005  English  59/100 (59.0%)

In [15]:
# Export interim messy data to CSV file
interim_messy_data.to_csv('interim_messy_data.csv')